{% extends 'layout.html'%}
{% block title %} review {% endblock %}

{% block content %} 

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3">
      
      <img src="{{imagen}}" alt="" class="img-fluid" width="100%">


      <h1></h1>

    </div>

    <div class="col-lg-3">

      <h1> {{books["title"]}} </h1>

      <h2><small class="text-muted"><p>{{books["author"]}}</p></small></h2>

      <p class="lead"><strong>year: </strong> {{books["year"]}} </p> 
      <p class="lead"><strong>isbn: </strong> {{books["isbn"]}} </p> 
      
      <h5><i class="fa-brands fa-google"> Reseña de Goodreads:</i></h5>

      {% if ratingsCount and averageRating > 1%}

      <p class="lead"><strong>puntuación media:</strong> {{averageRating}} </p> 
      <p class="lead"><strong>cantidad de puntuaciones:</strong> {{ratingsCount}} </p> 

      {% endif %}

      {% if ratingsCount and averageRating < 0%}

      <div class="alert alert-danger mt-3" role="alert">
        No se encuentra información en Googlereads
      </div>
      {% endif %}
    </div>
  

    
    <div class="col-lg-6">

      {% for reviews in reviews %}
      <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="user d-flex flex-row align-items-center"> <i class="fa-solid fa-user mr-2"></i>  
              <span><small class="font-weight-bold text-primary">{{reviews["username"]}}</small> 
              </span> 
            </div> <small>2022</small>
        </div>
        <div class="action d-flex justify-content-between mt-2 align-items-center">
            <div class="reply px-4"> <small class="font-weight-bold">{{reviews["comentario"]}}</small> </div>
            <div class="icons align-items-center"> <i class="fa fa-star text-warning"> {{reviews["puntuacion"]}}</i>  </div>
        </div>
      </div>
      {% endfor %}

      <form action="/review/{{books['id']}}" method="post">
  
        <div class="form-group">
          <label for="exampleFormControlSelect1">Calificacion</label>
          <select class="form-control" id="exampleFormControlSelect1" name="puntuacion" 
          {% if count_comment > 0 %}
          disabled
          {% else %}
          required
          {% endif %}>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Comentario</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comentario" 
          {% if count_comment > 0 %}
          disabled
          {% else %}
          required
          {% endif %}
          ></textarea>
        </div>
        <button class="btn btn-dark" type="submit"
        {% if count_comment > 0 %}
        disabled
        {% else %}
        required
        {% endif %}
        >Enviar review</button>
        {% if count_comment > 0 %}
        <div class="alert alert-danger mt-3" role="alert">
          No puedes hacer más de un comentario
        </div>
        {% else %}
        {% endif %}
      </form>

    </div>
  </div>
</div>



          
{% endblock %}